<pg-container extraHorizontalClass="relative">
  <div class="map-controls">
    <div class="pull-right">
      <div class="btn-group btn-group-horizontal mr-5">
        <button (click)="zoomIn()" class="btn btn-success btn-xs">
          <i class="fa fa-plus"></i>
        </button>
        <button (click)="zoomOut()" class="btn btn-success btn-xs">
          <i class="fa fa-minus"></i>
        </button>
        <button
          *ngIf="user.roles.manager"
          [routerLink]="['/add-event']"
          routerLinkActive="router-link-active"
          class="btn btn-primary btn-xs"
        >
          <i class="fa fa-bookmark mr-2"></i> Add Event
        </button>
      </div>

      <div class="row">
        <div class="col-md-12" *ngIf="event">
          <div class="card mt-5 p-3" [hidden]="!showEventInfo">
            <div class="row">
              <div class="col-md-11">
                <span
                  class="h5 bold text-primary text-center"
                  (click)="navigate()"
                  >{{ event.name }}</span
                >
              </div>
              <div class="col-md-1">
                <a href="javascript:void(0)"
                  ><i
                    class="pg pg-close"
                    aria-hidden="true"
                    (click)="showEventInfo = false"
                  ></i
                ></a>
              </div>
            </div>

            <hr />

            <div class="row" *ngIf="event.startTime">
              <div class="col-sm-1">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
              </div>
              <div class="col-sm-4 mr-0">
                <span class="text-left">Start Time</span>
              </div>
              <div class="col text-right">
                <span>{{ event.startTime.toDate() }}</span>
              </div>
            </div>

            <div class="row" *ngIf="event.endTime">
              <div class="col-sm-1">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
              </div>
              <div class="col-sm-4 mr-0">
                <span class="text-left">End Time</span>
              </div>
              <div class="col text-right">
                <span>{{ event.endTime.toDate() }}</span>
              </div>
            </div>

            <div class="row" *ngIf="time">
              <div class="col-sm-1">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </div>
              <div class="col-sm-4 mr-0">
                <span class="text-right">Arrival:</span>
              </div>
              <div class="col text-right" *ngIf="time">
                <span>{{ time }}</span>
              </div>
            </div>

            <div class="row" *ngIf="distance">
              <div class="col-sm-1">
                <i class="fa fa-location-arrow" aria-hidden="true"></i>
              </div>
              <div class="col-sm-4 mr-0">
                <span class="text-right">Distance:</span>
              </div>
              <div class="col text-right">
                <span>{{ distance }}</span>
              </div>
            </div>

            <div class="row" *ngIf="place">
              <div class="col-sm-1">
                <i class="fa fa-map-pin" aria-hidden="true"></i>
              </div>
              <div class="col-sm-4 mr-0">
                <span class="text-right">At:</span>
              </div>
              <div class="col text-right">
                <span>{{ place }}</span>
              </div>
            </div>

            <hr />

            <button class="btn btn-primary btn-block" (click)="openHandler()">
              <i class="fa fa-money" aria-hidden="true"></i> Book Now!
            </button>
            <button
              *ngIf="user.roles.manager"
              class="btn btn-danger btn-block"
              (click)="delete()"
            >
              <i class="fa fa-minus" aria-hidden="true"></i> Delete Button!
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</pg-container>

<!-- Map -->
<div class="map-container full-width full-height">
  <ngui-map
    [zoom]="zoomLevel"
    [styles]="styles"
    [center]="center"
    [disableDefaultUI]="disableDefaultUI"
  >
    <custom-marker
      *ngFor="let event of events"
      [position]="event.location"
      [hidden]="!showIncomingPatients"
    >
      <a href="javascript:void(0)" (click)="eventDetails(event)">
        <!-- <span class="text-white">House</span> -->
        <img
          src="../../../../assets/img/concert.svg"
          width="32px"
          height="32px"
          alt=""
        />
        <div class="beacon"></div>
      </a>
    </custom-marker>

    <custom-marker [position]="[74.3033157, 31.482163999999994]">
      <img src="../../../../assets/img/patient.svg" width="28" height="28" />
    </custom-marker>
  </ngui-map>
</div>
