<pg-container>
  <div class="row mt-5">
    <div class="col-md-4" *ngIf="status == 'active'">
      <h2 class="text-success bold">Your are Subscribed</h2>
      Your subscription plan is {{ plan }}
    </div>
  </div>
  <div class="row mt-5" *ngIf="status != 'active'">
    <div class="col-md-4">
      <div class="card text-default bg-white">
        <div class="card-body">
          <h4 class="card-title">Monethly</h4>
          <p class="card-text">5$</p>

          <button class="btn btn-success" (click)="openHandler(5, 'monthly')">
            Subscribe
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-default bg-white">
        <div class="card-body">
          <h4 class="card-title">Quaterly</h4>
          <p class="card-text">12$</p>
          <button class="btn btn-success" (click)="openHandler(15, 'quaterly')">
            Subscribe
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-default bg-white">
        <div class="card-body">
          <h4 class="card-title">Yearly</h4>
          <p class="card-text">50$</p>
          <button class="btn btn-success" (click)="openHandler(50, 'yearly')">
            Subscribe
          </button>
        </div>
      </div>
    </div>
  </div>
</pg-container>
