<pg-header boxed="true">
  <!-- <div class="header-inner header-md-height">
    <a href="javascript:void(0)" class="btn-link toggle-sidebar d-lg-none pg pg-menu" (click)="toggleHorizontalMenuMobile()">
    </a>
    <div class=""> -->
  <!-- Start of Search Area -->
  <!-- <a href="javascript:void(0)" class="search-link d-lg-inline-block d-none" (click)="openSearch($event)"><i class="pg pg-search"></i>Type
        anywhere to
        <span class="bold">search</span></a> -->
  <!-- Start of Search Area -->
  <!-- </div> -->
  <!-- <div class="d-flex align-items-center" *ngIf="user"> -->
  <!-- START User Info -->
  <!-- <div class="pull-left p-r-10 fs-14 font-heading d-lg-block d-none">
        <span class="semi-bold"> {{ user.email }} </span>
      </div>
      <div class="dropdown pull-right d-lg-block d-none" dropdown>
        <button class="profile-dropdown-toggle" type="button" dropdownToggle id="profileDropdown">
          <span class="thumbnail-wrapper d32 circular inline">
            <img src="assets/img/avatar.jpg" alt="" width="32" height="32" />
          </span>
        </button>
        <div class="dropdown-menu dropdown-menu-right profile-dropdown" *dropdownMenu role="menu">
          <a href="javascript:void(0)" class="clearfix bg-master-lighter dropdown-item" (click)="signOut()">
            <span class="pull-left">Logout</span>
            <span class="pull-right"><i class="fs-13 pg pg-power"></i></span>
          </a>
        </div>
      </div> -->
  <!-- END User Info -->
  <!-- <a href="javascript:void(0)" class="header-icon pg pg-alt_menu btn-link m-l-10 sm-no-margin d-inline-block"
        (click)="openQuickView($event)"></a> -->
  <!-- </div>
  </div> -->
  <div class="row">
    <div class="col-md-8">
      <div
        class="header-inner justify-content-start header-lg-height title-bar"
      >
        <div class="brand inline align-self-end">
          <span class="bold">TechTunes!</span>
          <!-- <img
            src="assets/img/logo_white.png"
            alt="logo"
            width="25"
            height="29"
          /> -->
        </div>
        <h2 class="page-title align-self-end">
          Smart Music Web Application {{ _pageTitle }}
        </h2>
      </div>
    </div>
    <div class="col-md-4">
      <!-- <div
        class="header-inner justify-content-end header-lg-height"
        *ngIf="!user"
        routerLink="['login']"
      >
        Login
      </div> -->
      <a
        class="header-inner justify-content-end header-lg-height"
        [routerLink]="['/login']"
        *ngIf="!user"
        >Log In</a
      >
      <div
        class="header-inner justify-content-end header-lg-height"
        *ngIf="user"
      >
        <!-- START User Info -->
        <div class="pull-left p-r-10 fs-14 font-heading d-lg-block d-none">
          <span class="semi-bold"> {{ Role }} </span>
          <span class="semi-bold"> {{ user.email }} </span>
        </div>
        <div class="dropdown pull-right d-lg-block d-none" dropdown>
          <button
            class="profile-dropdown-toggle"
            type="button"
            dropdownToggle
            id="profileDropdown"
          >
            <span class="thumbnail-wrapper d32 circular inline">
              <img [src]="user.photoURL" alt="" width="32" height="32" />
            </span>
          </button>
          <div
            class="dropdown-menu dropdown-menu-right profile-dropdown"
            *dropdownMenu
            role="menu"
          >
            <a
              href="javascript:void(0)"
              class="clearfix bg-master-lighter dropdown-item"
              (click)="updateRole('Manager')"
            >
              <span class="pull-left">Manager</span>
            </a>
            <a
              href="javascript:void(0)"
              class="clearfix bg-master-lighter dropdown-item"
              (click)="updateRole('Producer')"
            >
              <span class="pull-left">Producer</span>
            </a>
            <a
              href="javascript:void(0)"
              class="clearfix bg-master-lighter dropdown-item"
              (click)="updateRole('Singer')"
            >
              <span class="pull-left">Singer</span>
            </a>
            <a
              href="javascript:void(0)"
              class="clearfix bg-master-lighter dropdown-item"
              (click)="updateRole('User')"
            >
              <span class="pull-left">User</span>
            </a>
            <a
              href="javascript:void(0)"
              class="clearfix bg-master-lighter dropdown-item"
              (click)="signOut()"
            >
              <span class="pull-left">Logout</span>
              <span class="pull-right"><i class="fs-13 pg pg-power"></i></span>
            </a>
          </div>
        </div>
        <!-- END User Info -->
        <!-- <a href="javascript:void(0)" class="header-icon pg pg-alt_menu btn-link m-l-10 sm-no-margin d-inline-block"
        (click)="openQuickView($event)"></a> -->
      </div>
    </div>
  </div>
  <div class="p-b-4 col-md-8">
    <pg-horizontal-menu [Items]="menuItems" HideExtra="4">
      <ng-template #mobileSidebarFooter>
        <a
          href="javascript:void(0)"
          class="search-link d-flex justify-content-between align-items-center d-lg-none"
          (click)="openSearch($event)"
          >Tap here to search <i class="pg pg-search float-right"></i
        ></a>
      </ng-template>
    </pg-horizontal-menu>
  </div>
</pg-header>
<div class="page-container">
  <!-- START PAGE CONTENT WRAPPER -->
  <div class="page-content-wrapper {{ _pageContainerClass }}">
    <!-- START PAGE CONTENT -->
    <div class="content {{ _contentClass }}">
      <router-outlet></router-outlet>
    </div>
    <!-- END PAGE CONTENT -->
    <!-- START COPYRIGHT -->
    <!-- START CONTAINER FLUID -->
    <ng-template [ngIf]="_footer">
      <div class=" container   container-fixed-lg footer">
        <div class="copyright sm-text-center">
          <p class="small no-margin pull-left sm-pull-reset">
            <span class="hint-text">Copyright &copy; 2018 </span>
            <span class="font-montserrat">Comsats</span>.
            <span class="hint-text">All rights reserved. </span>
          </p>
          <p class="small no-margin pull-right sm-pull-reset">
            Made by ♥
            <span class="hint-text"> Kamran - Saiem - Safi</span>
          </p>
          <div class="clearfix"></div>
        </div>
      </div>
    </ng-template>
    <!-- END COPYRIGHT -->
  </div>
  <!-- END PAGE CONTENT WRAPPER -->
</div>
<!-- END PAGE CONTAINER -->
<app-quickview></app-quickview>
