<pg-container>
  <div class="row mt-5 mb-5 text-center">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center align-middle">
      <p class="small-text">
        Create a new event using this form, make sure you fill them all.
      </p>
      <form role="form" autocomplete="off" [formGroup]="eventForm">
        <div class="row">
          <div class="col-sm-12">
            <div
              class="form-group form-group-default input-group required"
              [class.has-error]="name.invalid && (name.dirty || name.touched)"
            >
              <div class="form-input-group">
                <label>Event name</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  name="name"
                  formControlName="name"
                  required
                  placeholder="Enter valid full name"
                />
              </div>
              <div class="input-group-append">
                <span class="input-group-text"
                  ><i class="fa fa-user-circle" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <!-- <div
              class="form-group form-group-default input-group required"
              [class.has-error]="
                startTime.invalid && (startTime.dirty || startTime.touched)
              "
            > -->
            <div class="form-group form-group-default input-group required">
              <div class="form-input-group">
                <label>Start Time</label>
                <pg-datepicker
                  formControlName="startTime"
                  [DisabledDate]="disabledDate"
                ></pg-datepicker>
              </div>
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <!-- <div
                  class="form-group form-group-default input-group required"
                  [class.has-error]=" startTime &&
                    startTime.invalid && (startTime.dirty || startTime.touched)
                  "
                > -->
            <div class="form-group form-group-default input-group required">
              <div class="form-input-group">
                <label>End Time</label>
                <pg-datepicker
                  formControlName="endTime"
                  [DisabledDate]="disabledDate"
                ></pg-datepicker>
              </div>
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input
                placeholder="search for location"
                autocorrect="off"
                autocapitalize="off"
                spellcheck="off"
                type="text"
                class="form-control"
                #search
                [formControl]="searchControl"
              />
            </div>
            <agm-map
              [latitude]="latitude"
              [longitude]="longitude"
              [scrollwheel]="false"
              [zoom]="zoom"
            >
              <agm-marker
                [latitude]="latitude"
                [longitude]="longitude"
              ></agm-marker>
            </agm-map>
          </div>
        </div>
      </form>
      <button class="btn btn-primary btn-block btn-cons" (click)="addEvent()">
        <i class="fa fa-calendar" aria-hidden="true"></i> Add Event
      </button>
    </div>
  </div>
</pg-container>
