<pg-container>
  <div class="row mt-5">
    <div class="col-md-4" *ngIf="status && status != 'active'">
      <h2 class="text-success bold">
        Live streams are only for subscribed users.
      </h2>
      <!-- Your subscription plan is <b>{{ plan }}</b> -->
    </div>
  </div>
  <!-- <div class="row mt-5">
    <div class="col-md-4" *ngIf="status == 'active'">
      <h2 class="text-success bold">
        No streams available.
      </h2>
      Your subscription plan is <b>{{ plan }}</b>
    </div>
  </div> -->
  <!-- <div [innerHTML]="streams | safe: 'html'"></div> -->
  <div *ngIf="status == 'active'">
    <iframe
      src="https://player.twitch.tv/?channel=Monstercat&muted=true"
      height="auto"
      width="420"
      frameborder="0"
      scrolling="no"
      allowfullscreen="true"
    >
    </iframe>
    <iframe
      src="https://player.twitch.tv/?channel=summit1g&muted=true"
      height="auto"
      width="420"
      frameborder="0"
      scrolling="no"
      allowfullscreen="true"
    >
    </iframe>
    <iframe
      src="https://player.twitch.tv/?channel=shineyk&muted=true"
      height="auto"
      width="420"
      frameborder="0"
      scrolling="no"
      allowfullscreen="true"
    >
    </iframe>
  </div>
</pg-container>
